.banner {
  background: url("../../assets//images/banner.jpg");
  width: 100%;
  height: 70vh;
}

.banner__content {
  padding-top: 100px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.banner__content > h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

.banner__content > p {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .banner__content {
    padding-top: 100px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner__content > h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
  }
  .banner__content > p {
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
  .search {
    padding-left: 35%;
    padding-right: 35%;
    border-radius: 14px;
  }
}

@media only screen and (min-width: 992px) {
  .banner__content {
    padding-top: 100px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  .banner__content > h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 70px;
  }
  .banner__content > p {
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding-left: 25%;
    padding-right: 25%;
  }
  .search {
    padding-left: 35%;
    padding-right: 35%;
    height: 100px;
  }
}
@media (max-width: 481px) {
  .search {
    display: none;
  }
  .banner {
    height: 45vh;
  }
  .banner__content {
    padding-top: 70px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner__content > h1 {
    font-size: 35px;
  }
  .banner__content > p {
    font-size: 17px;
  }
}
