.app__promote {
  background: url("../../assets/images/app_promote.png");
  width: 100%;
  height: 47vh;
}

.content {
  text-align: center;
  padding-top: 65px;
  width: 50%;
  margin-left: 120px;
}

.content > h1 {
  font-weight: bold;
  font-size: 20px;
}

.content > p {
  color: #484848;
  font-size: 16px;
}

.app__promote__buttons {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.google_play_store {
  margin-left: 5px;
}
/* @media (max-width: 481px) {
  .content {
    text-align: center;
    padding-top: 50px;
    width: 80%;
    margin-left: 40px;
  }
  .content > h1 {
    font-weight: bold;
    font-size: 22px;
  }
  .content > p {
    font-size: 15px;
  }
} */
