.swiper {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: -1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .button__for__images {
  position: absolute;
  top: 64%;
  left: 46%;
  height: 50px;
  width: 160px;
  background-color: white;
  border: none;
  border-radius: 7px;
  transition: 0.5s all;
}

.button__for__images:hover {
  background-color: #02b290;
}

@media only screen and (min-width: 480) {
  .button__for__images {
    position: absolute;
    top: 50%;
    left: 46%;
    height: 50px;
    width: 100px;
    background-color: white;
    border: none;
    border-radius: 7px;
    transition: 0.5s all;
  }
} */
