.navbar {
  position: inherit;
}

.logo {
  margin-top: 20px;
  margin-bottom: 22px;
}
.logo_bottom {
  border-bottom: none;
}

.submenu {
  margin-right: 20px;
  padding: 10px;
}

.lan-images {
  width: 20px;
  margin-right: 5px;
}
