.ant-menu {
  padding: 200px;
}

.navbar {
  overflow: hidden;
  width: 100%;
  transition: all 0.7s ease-in;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logoVisible {
  margin-top: 20px;
  margin-bottom: 22px;
  margin-left: 25px;
}

.logoHide {
  display: none;
}

.submenu {
  margin-right: 20px;
  padding: 10px;
}

.lan-images {
  width: 20px;
  margin-right: 5px;
}

.mobileVisible {
  display: none;
}

@media only screen and (min-width: 992) {
}
